{{ if .Options }}
    {{ errorf "Ballerina code fence does not support options. Use lines Attribute instead." }}
{{ end }}
{{ if not (isset .Attributes "filename") }}
    {{ errorf "Ballerina code fence requires filename attribute."}}
{{ else }}
    {{ $filename := index .Attributes "filename"}}
    {{ $options := print "style=monokai,lineNos=table,anchorLineNos=true,lineAnchors=full-" $filename}}
    {{ with index .Attributes "lines" }}
        {{ $options = print $options ",hl_lines=" .  }}
    {{ end }}

    {{ $code := .Inner }}
    {{ $code = split $code "\n" }}

    {{ $fullView := slice }}
    {{ $simpleView := slice }}
    {{ $highlightView := slice }}

    {{ $simpleView = $simpleView | append "// Partial Code. Change View $CHANGE$ or Open $SOURCE$ to see full code." }}
    {{ $highlightView = $highlightView | append "// Highlights Only. Change View $CHANGE$ or Open $SOURCE$ to see full code." }}
    {{ range $code  }}
        {{ if strings.Contains . "//$"  }}
            {{ $oline := split . "//$"  }}
            {{ $line := (strings.TrimRight " " (index $oline 0)) }}
            {{ $fullView = $fullView | append $line  }}
            {{ $simpleView = $simpleView | append $line }}
            {{ $highlightView = $highlightView | append (strings.TrimLeft " " $line)  }}
        {{ else if strings.Contains . "//!" }}
            {{ $line := split . "//!" }}
            {{ $line := (strings.TrimRight " " (index $line 0)) }}
            {{ $fullView = $fullView | append $line  }}
        {{ else }}
            {{ $line :=  . }}
            {{ $fullView = $fullView | append $line  }}
            {{ $simpleView = $simpleView | append $line  }}
        {{ end }}
    {{ end }}
  
<div class="tip-code-full table-responsive rounded rounded-3 shadow-3 m-auto">
    {{ $fullView = delimit $fullView "\n" }}
    {{ highlight $fullView "ballerina" $options }}
</div>

<div class="tip-code-simple d-none table-responsive rounded rounded-3 shadow-3 m-auto">
    {{ $simpleView = delimit $simpleView "\n" }}
    {{ $baseURL := replace .Page.File.Dir "\\" "/"  }}
    {{ $sourceFilePath := printf "%s%s" $baseURL $filename }}
    {{ $codeURL := (printf "%s" $sourceFilePath ) | relLangURL }}
    
    {{ $codeContent := highlight $simpleView "ballerina" (print "style=monokai") }}
    {{ $codeContent = (replace $codeContent "$SOURCE$" (print "<a href='" $codeURL "' target='_blank'>" $filename "</a>")) }}
    {{ $codeContent = (replace $codeContent "$CHANGE$"  (print "<a href='#offcanvasRight' data-mdb-toggle='offcanvas' data-mdb-target='#offcanvasRight' aria-controls='offcanvasRight' ><i class='bi bi-sliders'></i></a>")) }}
    {{ safeHTML $codeContent}}
</div>

<div class="tip-code-highlight d-none table-responsive rounded rounded-3 shadow-3 m-auto">
    {{ $highlightView = delimit $highlightView "\n" }}
    {{ $codeContent := highlight $highlightView "ballerina" (print "style=monokai") }}
    {{ $codeContent = (replace $codeContent "$SOURCE$" (print "<a href='" $codeURL "' target='_blank'>" $filename "</a>")) }}
    {{ $codeContent = (replace $codeContent "$CHANGE$"  (print "<a href='#offcanvasRight' data-mdb-toggle='offcanvas' data-mdb-target='#offcanvasRight' aria-controls='offcanvasRight' ><i class='bi bi-sliders'></i></a>")) }}
    {{ safeHTML $codeContent}}
</div>

{{ end }}
