{{ if .Options }}
    {{ errorf "Ballerina code fence does not support options. Use lines Attribute instead." }}
{{ end }}
{{ if not (isset .Attributes "filename") }}
    {{ errorf "Ballerina code fence requires filename attribute."}}
{{ else }}
    {{ $filename := index .Attributes "filename"}}
    {{ $trim := default true (index .Attributes "trim")}}
    {{ $codeview := default true (index .Attributes "codeview")}}
    {{ $anchor := index (split $filename ".") 0 | safeHTMLAttr }}
    {{ $options := print "style=manni,lineNos=table,anchorLineNos=true,lineAnchors=full-" $anchor}}
    {{ with index .Attributes "lines" }}
        {{ $options = print $options ",hl_lines=" .  }}
    {{ end }}

    {{ $code := .Inner }}
    {{ $code = split $code "\n" }}

    {{ $fullView := slice }}
    {{ $simpleView := slice }}
    {{ $highlightView := slice }}

    {{ $simpleView = $simpleView | append "// Partial Code. Change View $CHANGE$ to see full code." }}
    {{ $highlightView = $highlightView | append "// Highlights Only. Change View $CHANGE$ to see full code." }}
    {{ range $code  }}
        {{ if strings.Contains . "//$"  }}
            {{ $oline := split . "//$"  }}
            {{ $line := (strings.TrimRight " " (index $oline 0)) }}
            {{ $fullView = $fullView | append $line  }}
            {{ $simpleView = $simpleView | append $line }}
            {{ if $trim }}
                {{ $line = (strings.TrimLeft " " $line)}}
            {{ end }}
            {{ $highlightView = $highlightView | append (print $line (index $oline 1) )}}
        {{ else if strings.Contains . "//!" }}
            {{ $line := split . "//!" }}
            {{ $line := (strings.TrimRight " " (index $line 0)) }}
            {{ $fullView = $fullView | append $line  }}
        {{ else }}
            {{ $line :=  . }}
            {{ $fullView = $fullView | append $line  }}
            {{ $simpleView = $simpleView | append $line  }}
        {{ end }}
    {{ end }}

    {{ $baseURL := replace .Page.File.Dir "\\" "/"  }}
    {{ $sourceFilePath := printf "%s%s" $baseURL $filename }}
    {{ $codeURL := (printf "%s" $sourceFilePath ) | relLangURL }}
    {{ $codeOut := "" }}
    {{ $output := eq "output" (index .Attributes "result")}}
    {{ $error := eq "error" (index .Attributes "result")}}
    {{ if or $output $error }}
        {{ $fileData := (readFile (print $sourceFilePath ".out"))}}
        {{ $codeOut = highlight $fileData "BashSession" "style=manni" -}} 
        {{ if eq (len $fileData) 0 }}
            {{ warnf "Output file empty for %s" $sourceFilePath }}
        {{end}}
    {{ end }}

<div> 
    <div class="{{if $codeview}}tip-code-full d-none{{end}} table-responsive rounded rounded-3 shadow-3 m-auto text-dark col-lg-9 col-12 bg-code mb-3">
        {{ $fullView = delimit $fullView "\n" }}
        <div class="p-2">{{ highlight $fullView "ballerina" $options }}</div>
        {{ if or $output $error }}
        <a class="link px-2" data-mdb-toggle="collapse" data-mdb-target="#collapsibleDiv{{$anchor}}" aria-expanded="false" aria-controls="collapsibleDiv">
            {{ if $output }}
                <i class="bi bi-terminal"></i>&nbsp;<code>bal run&nbsp;{{- $filename -}}</code>
            {{ else if $error }}
                <i class="bi bi-exclamation-triangle"></i> Compiler Error
            {{ end }}
        </a>
        <div class="collapse p-2" id="collapsibleDiv{{$anchor}}">
            {{- $codeOut -}}
            {{ with $.Page.Site.Data.ballerina.balVersion }}
            <i class="bi bi-terminal"></i>&nbsp;<code class="text-primary">bal version</code>
            {{ highlight . "BashSession" "style=manni"}}
            {{end}}
        </div>
        {{ end }}

    </div>

    {{if $codeview}}
    <div class="tip-code-simple d-none table-responsive rounded rounded-3 shadow-3 m-auto text-dark col-lg-9 col-12 bg-code mb-3">
        {{ $simpleView = delimit $simpleView "\n" }}    
        {{ $codeContent := highlight $simpleView "ballerina" (print "style=manni") }}
        {{ $codeContent = (replace $codeContent "$SOURCE$" (print "<a href='" $codeURL "' target='_blank'>" $filename "</a>")) }}
        {{ $codeContent = (replace $codeContent "$CHANGE$"  (print "<a href='#offcanvasRight' data-mdb-toggle='offcanvas' data-mdb-target='#offcanvasRight' aria-controls='offcanvasRight' ><i class='bi bi-sliders'></i></a>")) }}
        <div class="p-2 overflow-auto">{{ safeHTML $codeContent}}</div>
    </div>

    <div class="tip-code-highlight d-none table-responsive rounded rounded-3 shadow-3 m-auto text-dark col-lg-9 col-12 bg-code mb-3">
        {{ $highlightView = delimit $highlightView "\n" }}
        {{ $codeContent := highlight $highlightView "ballerina" (print "style=manni") }}
        {{ $codeContent = (replace $codeContent "$SOURCE$" (print "<a href='" $codeURL "' target='_blank'>" $filename "</a>")) }}
        {{ $codeContent = (replace $codeContent "$CHANGE$"  (print "<a href='#offcanvasRight' data-mdb-toggle='offcanvas' data-mdb-target='#offcanvasRight' aria-controls='offcanvasRight' ><i class='bi bi-sliders'></i></a>")) }}
        <div class="p-2 overflow-auto">{{ safeHTML $codeContent}}</div>
    </div>
    {{end}}
    {{ with index .Attributes "title" }}
    <p class="text-center fw-light fst-italic">{{ . }}</p>
    {{ end}}
</div>
{{ end }}
