<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body class="mx-2 mt-2 bg-light text-dark bg-gradient" id="content-body">
        <a href="#top" title="Page Top"><span id="top"></span></a>
        {{ partial "header.html" . }}
        <div class="d-flex mt-3 col-lg-11 m-auto">
            <div id="content" class="container container-lg justify-content-center m-auto" data-mdb-spy="scroll"
                data-mdb-target="#scrollspy-collapsible" data-mdb-offset="0" class="scrollspy-example">
                {{ block "main" . }}{{ end }}
            </div>
        </div>
        {{ partial "footer.html" . }}
        {{ partial "script.html" . }}
    </body>
</html>