@import '../node_modules/mdb-ui-kit/src/scss/mdb.free.scss';

html {
    font-size: 16px;
}

.tip-note {
    @extend .note;
    @extend .note-info;
    @extend .text-dark;
    @extend .text-center;
    @extend .shadow-3;
    @extend .m-auto;
    @extend .mb-3;
    @extend .mt-3;

}

.tip-blockquote {
    @extend .blockquote;
    @extend .text-center;
    @extend .text-dark;
    @extend .m-auto;
    @extend .mb-3;
    @extend .mt-3;
}

.tip-table {
    @extend .table;
    @extend .bg-light;
    @extend .text-dark;
    @extend .table-striped;
    @extend .table-bordered;
    @extend .table-hover;
    @extend .table-sm;
    @extend .table-responsive;
}

.tip-50-frame {
    @extend .w-50;
    @extend .mx-auto;
}

.tip-75-frame {
    @extend .w-75;
    @extend .mx-auto;
}

.btn-text-transform-none {
    text-transform: none !important;
}

.toc a.active {
    text-decoration: underline !important
}

.toc a{
  @extend .text-dark;
}

