@import '../node_modules/mdb-ui-kit/src/scss/mdb.free.scss';

html {
    font-size: 0.9em;
}

code {
    font-size: 1em !important;
}

.tip-syntax {
    @extend .alert;
    @extend .alert-primary;
    @extend .text-center;
    @extend .font-monospace;
}

.tip-title {
    @extend .text-center;
    @extend .fst-italic;
}

.tip-note {
    @extend .note;
    @extend .note-info;
    @extend .text-dark;
    @extend .text-center;
    @extend .shadow-3;
    @extend .m-auto;
    @extend .mb-3;
    @extend .mt-3;

}

.tip-blockquote {
    @extend .blockquote;
    @extend .text-center;
    @extend .text-dark;
    @extend .m-auto;
    @extend .mb-3;
    @extend .mt-3;
}

.tip-table {
    @extend .table;
    @extend .bg-light;
    @extend .text-dark;
    @extend .table-striped;
    @extend .table-bordered;
    @extend .table-hover;
    @extend .table-sm;
    @extend .table-responsive;
}

.tip-50-frame {
    @extend .col-lg-6;
    @extend .col-12;
    @extend .d-block;
    @extend .mx-auto;
}

.tip-75-frame {
    @extend .col-lg-9;
    @extend .col-12;
    @extend .d-block;
    @extend .mx-auto;
}

.btn-text-transform-none {
    text-transform: none !important;
}

.toc a.active {
    text-decoration: underline !important
}

.toc a {
    @extend .text-dark;
}

.bg-code {
    background-color: #f0f3f3 !important;
}

.drop-cap::first-letter {
    float: left;
    font-size: 3em;
    line-height: 0.8em;
    padding-top: 0.1em;
}