<div class="text-secondary text-reset">
    <i class="bi bi-calendar-event"></i>&nbsp;{{ .Params.date.Format "January 2, 2006" }}
</div>
<hr>
<!-- TOC -->
<h6 class="offcanvas-title py-3"><i class="bi bi-list-columns"></i> Table of Content</h6>
<div>
    <div class="toc text-muted text-dark p-2" id="scrollspy-collapsible">
        {{ .TableOfContents}}
    </div>
</div>
<!-- End of TOC -->
<hr>
<!-- Key words -->
{{ if $.Page.File }}
    {{- $path := $.Page.File.Path}}                            
    {{ $keywords := slice }}       
    {{- with .Page.Params.ballerina_type }}
        {{- range .}}
            {{- if isset $.Site.Data.Filters.ballerina_type . }}
                {{- with (index $.Site.Data.Filters.ballerina_type .) }}
                    {{ $keywords = $keywords | append . }}
                {{- end}}
            {{- else}}
                {{- errorf "Failed to handle btype %q at %q" . $path }}
            {{- end}}
        {{- end}}
    {{- end}}
    {{- with .Page.Params.ballerina_lang }}
        {{- range .}}
            {{- if isset $.Site.Data.Filters.ballerina_lang . }}
                {{- with (index $.Site.Data.Filters.ballerina_lang .) }}
                    {{ $keywords = $keywords | append . }}
                {{- end}}
            {{- else}}
                {{- errorf "Failed to handle blang %q at %q" . $path }}
            {{- end}}
        {{- end}}
    {{- end}}
    {{- with .Page.Params.ballerina_feature }}
        {{- range .}}
            {{- if isset $.Site.Data.Filters.ballerina_feature . }}
                {{- with (index $.Site.Data.Filters.ballerina_feature .) }}
                    {{ $keywords = $keywords | append . }}
                {{- end}}
            {{- else}}
                {{- errorf "Failed to handle bfeature %q at %q" . $path }}
            {{- end}}
        {{- end}}
    {{- end}}
    {{- with .Page.Params.ballerina_module }}
        {{- range .}}
            {{- if isset $.Site.Data.Filters.ballerina_module . }}
                {{- with (index $.Site.Data.Filters.ballerina_module .) }}
                    {{ $keywords = $keywords | append . }}
                {{- end}}
            {{- else}}
                {{- errorf "Failed to handle bmodule %q at %q" . $path }}
            {{- end}}
        {{- end}}
    {{- end}}
    {{ if gt (len $keywords) 0}}
        <h6 class="py-3"><i class="bi bi-tags-fill"></i> Key Words</h6>
        <div class="text-reset text-dark p-2 d-flex justify-content-center justify-content-lg-between flex-wrap">
        {{ range $keywords }}
            <a role="button" class="btn btn-secondary btn-text-transform-none p-2 m-1" title="Search more on {{ . }}"
                href="{{- with $.Site.GetPage "/search" }}{{- .RelPermalink }}{{- end}}?q={{- . }}" >{{- . }}</a>
        {{ end }}
        </div>
    {{ end }}
{{end}}
<!-- End of keywords -->
<hr>
<!-- canonicalUrl -->
{{ if .Params.canonicalUrl }}
<div class="te">
    <blockquote class="">
        📃 This article was originally published on <a href="{{ .Params.canonicalUrl }}" title="See Original Article" target="_blank">{{ default "this blog" ($.Params.canonicalSite | markdownify) }}</a>.
    </blockquote>
</div>
{{ end }}
<!-- End of canonicalUrl -->