<!-- Footer -->
<footer class="text-center text-lg-start text-muted mt-5">

    <!-- Section: Privacy Notice  -->
    {{ with $.Site.Params.Footer.privacyNotice }}
    <section class="d-flex justify-content-center justify-content-lg-between d-none" id="privacyNotice">
        <div class="note note-info m-auto shadow-5">
            <div>
                    <span class="m-3">{{ . | safeHTML | markdownify }}</span>
                    <button type="button" class="btn btn-primary ms-auto" id="ga-agree-button">I am Ok</button>
                    <button type="button" class="btn btn-secondary me-2" id="ga-decline-button">Decline</button>
            </div>
    </section>
    {{ end }}

    {{ $menuData := $.Site.Data.menu }}
    {{ $current := . }}
    <!-- Section: Links  -->
    <section class="border-top bg-light">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            {{ $size := len .Site.Menus.footer }}
            {{ if gt $size 3}}
                {{ errorf "Footer menu should have 3 or less items. Current: %d" $size }}
            {{ end }}
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3 text-secondary"></i>{{ .Site.Title }}
                    </h6>
                    {{ with $.Site.Params.Footer.description }}
                    <p class="text-wrap text-start">
                        {{ . | safeHTML | markdownify }}
                    </p>
                    {{ end }}
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                {{ range .Site.Menus.footer }}
                    {{ if .HasChildren }}
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        {{ $Children := .Children.ByWeight }}
                        {{ range $idx, $group := (index $menuData .Identifier)}}

                        <h6 class="text-uppercase fw-bold{{if gt $idx 0}} mt-4{{end}}">
                            {{ $group.pre | safeHTML }} {{ $group.name }}
                        </h6>
                            {{ range where $Children.ByWeight "Params.group" $group.key }}
                                {{ $active := eq $current.Permalink ( absLangURL .URL ) }}
                                <p class="m-1">
                                    <a class="text-reset{{if $active}} active{{end}}" {{ if not .Page}}target="_blank"{{end}}
                                        {{if $active}}aria-current="true"{{end}} href="{{ .URL }}">
                                        {{ if .Pre }} {{ .Pre | safeHTML }} {{ else }} <i class="bi bi-caret-right-fill"></i> {{ end }}
                                        {{ .Name }}
                                    </a>
                                </p>
                            {{ end }}
                        {{end}}
                        
                    </div>
                    {{end}}
                {{ end }}
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-1 border-bottom bg-light">
        {{with $.Site.Params.Footer.socialLinks}}
            {{with $.Site.Params.Footer.socialText}}
            <div class="ms-auto mx-3 d-none d-lg-block">
                <span>{{ . | safeHTML }}</span>
            </div>
            {{end}}

            <!-- Right -->
            <div>
                {{ range . }}
                <a href="{{ .url }}" class="me-4 link-secondary">
                    {{ .pre | safeHTML}} {{ .name | safeHTML }}
                </a>
                {{ end }}
            </div>
        {{end}}
    </section>
    <!-- Section: Social media -->

    <!-- Notice -->
    {{ with $.Site.Params.Footer.notice }}
    <section class="d-flex justify-content-center justify-content-lg-between py-2 mt-2 d-none bg-white" id="footer-note">
        <div class="note note-light m-auto shadow-5">
            <div>
                <span class="m-3">{{ . | safeHTML | markdownify }}</span>
                <button type="button" class="btn btn-secondary" aria-label="Close" id="footer-note-x-button">
                    Close
                </button>
            </div>
        </div>
    </section>
    {{ end}}
    <!-- Notice -->

    <!-- Copyright -->
    <div class="text-center p-4 bg-white bg-gradient" style="background-color: rgba(0, 0, 0, 0.025);">
        <a class="text-reset fw-bold"
            href="{{ if $.Site.Params.Copyright.textUrl }}{{$.Site.Params.Copyright.textUrl | safeURL }}{{else}}{{ .Site.BaseURL }}{{end}}">
            {{ if $.Site.Params.Copyright.text}}{{ $.Site.Params.Copyright.text | safeHTML | markdownify }}{{else}}{{ $.Site.BaseURL |
            safeHTML }}{{end}}
        </a>
        <i class="bi bi-c-circle"></i> {{with $.Site.Params.Copyright.startYear}}{{.}} - {{end}}{{ .Date | time.Format
        "2006" }}
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
