<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light text-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                <img src="/images/logo.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top"
                    title="{{ .Site.Title }}">
            </a>
            <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>

            <button class="navbar-toggler px-0" type="button" data-mdb-toggle="collapse" data-mdb-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list"></i>
            </button>

            <div class="collapse navbar-collapse" id="mainMenu">
                {{ $menuData := $.Site.Data.menu }}
                <ul class="navbar-nav ms-auto mx-3 mb-2 mb-lg-0">
                    {{ $current := . }}
                    {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                    <li class="nav-item dropdown dropdown-hover position-static">
                        <a class="nav-link dropdown-toggle" href="#" id="menu_{{.Identifier}}" role="button"
                            data-mdb-toggle="dropdown" aria-expanded="false">
                            {{ if .Pre }} {{ .Pre | safeHTML }} {{ else }} <i class="bi bi-caret-right-fill"></i>
                            {{ end }}
                            {{ .Name }}
                        </a>
                        {{ $Children := .Children.ByWeight }}
                        <div class="dropdown-menu w-100 mt-0" aria-labelledby="menu_{{.Identifier}}"
                            style="ßborder-top-left-radius: 0; border-top-right-radius: 0;">
                            <div class="container">
                                <div class="row my-4">
                                    {{ range $group := (index $menuData .Identifier)}}
                                    <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                                        <div class="list-group list-group-flush">
                                            <p class="mb-0 list-group-item text-uppercase font-weight-bold">
                                                {{ $group.pre | safeHTML }} {{ $group.name }}
                                            </p>
                                            {{ range where $Children.ByWeight "Params.group" $group.key }}
                                            {{ $active := eq $current.Permalink ( absLangURL .URL ) }}
                                            <a class="list-group-item list-group-item-action{{if $active}} active{{end}}"
                                                {{if $active}}aria-current="true" {{end}} href="{{ .URL }}">
                                                {{ if .Pre }} {{ .Pre | safeHTML }} {{ else }}
                                                <i class="bi bi-caret-right-fill"></i> {{ end }}
                                                {{ .Name }}
                                            </a>
                                            {{ end }}
                                        </div>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </li>
                    {{ else }}
                    {{ $active := eq $current.Permalink ( absLangURL .URL ) }}
                    <li class="nav-item">
                        <a class="nav-link{{if $active}} active{{end}}" href="{{ .URL }}">
                            {{ if .Pre }} {{ .Pre | safeHTML }} {{ else }} <i class="bi bi-caret-right-fill"></i> {{ end
                            }}
                            {{ .Name }}</a>
                    </li>
                    {{ end }}
                    {{ end }}
                </ul>

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn" type="submit" id="search-btn">Search</button>
                </form>

                <hr>
                <div class="m-1 d-flex flex-wrap justify-content-center">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-mdb-toggle="dropdown"  data-bs-auto-close="false" id="openSettings" 
                            aria-expanded="false">
                            <i class="bi bi-sliders"></i>
                        </button>
                        <div class="dropdown-menu" id="siteSettings" style="width: 320px">
                            <div class="px-4 py-3">
                                <label for="theme_view">Site Theme</label>
                                <div class="text-center btn-group my-2" id="theme_view">                                    
                                    <input value="theme-light" type="radio" class="btn-check" name="theme-options"
                                        id="radioThemeLight" autocomplete="off" checked />
                                    <label class="btn btn-secondary" for="radioThemeLight"><span class="bi bi-brightness-high-fill"></span>Light</label>

                                    <input value="theme-dark" type="radio" class="btn-check" name="theme-options"
                                        id="radioThemeDark" autocomplete="off" />
                                    <label class="btn btn-secondary" for="radioThemeDark"><span class="bi bi-moon-stars-fill"></span> Dark</label>
                                </div>
                                <hr>
                                <label for="code_view">Source Code Density</label>
                                <div class="btn-group my-2" id="code_view">
                                    <input value="tip-code-full" type="radio" class="btn-check" name="source-options"
                                        id="radioSourceFull" autocomplete="off" checked />
                                    <label class="btn btn-secondary" for="radioSourceFull"><i
                                            class="bi bi-arrows-fullscreen"></i> Full</label>

                                    <input value="tip-code-simple" type="radio" class="btn-check" name="source-options"
                                        id="radioSourceSimple" autocomplete="off" />
                                    <label class="btn btn-secondary" for="radioSourceSimple"><i
                                            class="bi bi-arrows-expand"></i> Simple</label>

                                    <input value="tip-code-highlight" type="radio" class="btn-check"
                                        name="source-options" id="radioSourceHighligh" autocomplete="off" />
                                    <label class="btn btn-secondary" for="radioSourceHighligh"><i
                                            class="bi bi-stars"></i> Highlights</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>