{{ if eq .Draft false }}
<div hidden>
    {{ with .Page.Params.ballerina_type }}{{range .}}{{ with (index $.Site.Data.Filters.ballerina_type .) }}<p hidden data-pagefind-filter="Types">{{ . }}</p>{{end}}{{end}}{{end}}
    {{ with .Page.Params.ballerina_lang }}{{range .}}{{ with (index $.Site.Data.Filters.ballerina_lang .) }}<p hidden data-pagefind-filter="Language Syntax">{{ . }}</p>{{end}}{{end}}{{end}}
    {{ with .Page.Params.ballerina_feature }}{{range .}}{{ with (index $.Site.Data.Filters.ballerina_feature .) }}<p hidden data-pagefind-filter="Language Features">{{ . }}</p>{{end}}{{end}}{{end}}
    {{ with .Page.Params.ballerina_module }}{{range .}}{{ with (index $.Site.Data.Filters.ballerina_module .) }}<p hidden data-pagefind-filter="Modules">{{ . }}</p>{{end}}{{end}}{{end}}
</div>
{{ end}}
{{ if ne .Params.type "internal"}}
<div class="post-header">
    <div class="d-flex justify-content align-items-center">
        <div class="text-secondary text-reset">
            {{ if eq .Params.type "blog"}}
            <span class="badge badge-primary">Blog Post</span>
            {{ else }}
            <span class="badge badge-primary">Post</span>
            {{ end }}
            {{ .Params.date.Format "January 2, 2006" }}
            {{ with .Params.canonicalUrl }}
            <div class="p-2">
                <blockquote>
                    📃 This post was originally published on <a href="{{ . }}" title="See Original Article" target="_blank">{{ default "this blog" ($.Params.canonicalSite | markdownify) }}</a>.
                </blockquote>
            </div>
            <link rel="canonical" href="{{ . }}" title="{{ . }}">
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
