{{$pageFile := $.Page.File }}
{{ with $pageFile}}
    {{ if eq .Ext "md" }}
        {{ $filePng := print $pageFile.Dir $pageFile.BaseFileName ".png" }}
        {{ if fileExists $filePng }}
            <meta name="twitter:card" content="summary_large_image"/>
            <meta name="twitter:image" content="{{ $filePng | absURL }}"/>
            <link rel="image_src" href="{{ $filePng | absURL }}" />
        {{ else }}
            {{ errorf "image not found: %s" $filePng}}
        {{ end}}
    {{ end}}
{{end}}
{{- range $.Params.images -}}
    <link rel="image_src" href="{{ . | absURL }}" />
{{ end -}}

<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>

{{ with $.Site.Social.twitter -}}
<meta name="twitter:site" content="@{{ . }}"/>
{{ end -}}