{{ $title := .Get "title" }}
{{ $header := .Get "header" }}
{{ $image := .Get "image" }}
{{ $imageAlt := .Get "imageAlt"}}
{{ $imageTitle := .Get "imageTitle"}}
{{ $imagePos := default "left" (.Get "imagePos")}}
{{ $col := default 5 (.Get "col")}}
{{ $text := default "text-center" (.Get "text")}}
{{ if $image }}
<div class="card col-md-{{ $col }} mb-3 {{ $text }} bg-transparent">
  <div class="row col-md-12">
    {{ if eq $imagePos "left" }}
    <div class="col-md-4">
      <img
        title = "{{ $imageTitle | safeHTMLAttr }}"
        src="{{ $image | safeURL }}"
        alt="{{ $imageAlt | safeHTMLAttr }}"
        class="img-fluid rounded-start"
      />
    </div>
    {{ end }}
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">{{ $title | safeHTML | markdownify }}</h3>
        {{ .Inner | safeHTML | markdownify }}
      </div>
    </div>
    {{ if eq $imagePos "right" }}
    <div class="col-md-4">
      <img
        title = "{{ $imageTitle | safeHTMLAttr }}"
        src="{{ $image | safeURL }}"
        alt="{{ $imageAlt | safeHTML | markdownify }}"
        class="img-fluid rounded-start"
      />
    </div>
    {{ end }}
  </div>
</div>
{{ else }}
<div class="card m-3 col-md-{{ $col }} {{ $text }} bg-transparent">
  
  {{ with $header }}
  <h4 class="card-header">
    {{ . | safeHTML | markdownify }}
  </h4>
  {{ end }}
  
  <div class="card-body p-3">
  {{ with $title}}
  <h5 class="card-title">{{ . | safeHTML | markdownify }}</h5>
  {{ end }}
  {{ .Inner | safeHTML | markdownify }}<br>
  </div>
  <div class="card-footer text-muted">
    {{ with .Get "url" }}<a href="{{.}}" class="my-2 btn btn-primary btn-sm" title="Follow {{ . }} for more details">Read More</a>{{end}}
  </div>
</div>
{{ end }}