{{ $title := .Get "title" }}
{{ $header := .Get "header" }}
{{ $image := .Get "image" }}
{{ $imageAlt := .Get "imageAlt"}}
{{ $imagePos := default "left" (.Get "imagePos")}}
{{ $col := default 5 (.Get "col")}}
{{ if $image }}
<div class="card col-md-{{ $col }} mb-3 text-center bg-transparent">
  <div class="row col-md-12">
    {{ if eq $imagePos "left" }}
    <div class="col-md-4">
      <img
        src="{{ $image | safeURL }}"
        alt="{{ $imageAlt | safeHTML | markdownify }}"
        class="img-fluid rounded-start"
      />
    </div>
    {{ end }}
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">{{ $title | safeHTML | markdownify }}</h3>
        {{ .Inner | safeHTML | markdownify }}
      </div>
    </div>
    {{ if eq $imagePos "right" }}
    <div class="col-md-4">
      <img
        src="{{ $image | safeURL }}"
        alt="{{ $imageAlt | safeHTML | markdownify }}"
        class="img-fluid rounded-start"
      />
    </div>
    {{ end }}
  </div>
</div>
{{ else }}
<div class="card m-3 col-md-{{ $col }} text-center bg-transparent">
  
  {{ with $header }}
  <h4 class="card-header">
    {{ . | safeHTML | markdownify }}
  </h4>
  {{ end }}
  
  <div class="card-body">
  {{ with $title}}
  <h5 class="card-title">{{ . | safeHTML | markdownify }}</h5>
  {{ end }}
  {{ .Inner | safeHTML | markdownify }}
  </div>
</div>
{{ end }}