{{ $url := .Get "url" }}
{{ if $url }}
    {{ $page := $.Site.GetPage $url }}
    {{ if not $page }}
        {{ errorf "No page found for summary shortcode %s" $url }}
    {{ else }}
    <div class="card border-secondary m-1 col-md-3 text-center bg-transparent">
        {{ with .Get "header" }}
        <h4 class="card-header">
        {{ . | safeHTML | markdownify }}
        </h4>
        {{ end }}
        {{ with $page.Params.images}}
            {{ if gt (len .) 0 }}
            <img src="{{index . 0}}" class="card-img-top img-fluid img-thumbnail" title="{{$page.Title}}"
            style="width: 100%; height: 300px; object-fit: cover;" alt="{{$page.Title}}"/>
            {{end}}
        {{end}}
        <div class="card-body p-2">
            {{ with $page.Title}}
            <h5 class="card-title mb-2">{{ . | safeHTML | markdownify }}</h5>
            {{ end }}
            <p>
                {{ $page.Description | safeHTML | markdownify }}
            </p>
        </div>
        <div class="card-footer text-muted">
            <a href="{{$page.Permalink}}" class="my-2 btn btn-primary btn-sm" title="{{ $page.Title }}">Read More</a>
        </div>
    </div>
    {{ end }}
{{ else }}
    {{ errorf "No page specified for summary shortcode" }}
{{ end }}
