/* Content related */
.tips .tip {
  font-size: medium !important;
}

.tip {
  font-size: large !important;
  position: relative;
}

.tip-code {
  overflow: auto;
}

.tip-code pre code {
  white-space: pre !important;
}

.tip-code tbody tr td pre {
  padding-top: 5px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 5px !important;
  border-style: none;
}

.tips {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  align-items: stretch;
  align-content: flex-end;
  margin-bottom: 20px;
}

.round-box {
  border-radius: 25px;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}

.small-box {
  min-width: 350px;
  max-width: 350px;
}

.medium-box {
  min-width: 350px;
  max-width: 450px;
}

.large-box {
  min-width: 350px;
  max-width: 600px;
}

.home-view .small-box, .home-view .medium-box , .home-view .large-box {
  min-width: 350px;
  max-width: 350px;
}

.tip img.tip-c-fill{
  width:100px;
  height:100px;
  max-width: fit-content;
  margin: 0 !important;
  position: absolute;
  bottom: 25px; right: 25px;
}

.home-view .tip-code {
  max-height: 350px;
  /* overflow: scroll; */
}