:target {
  background-color: #ffa;
}

/* Content related */
.tips .tip {
  font-size: 13px !important;
}

.tips pre code {
  font-size: 12px;
}

.tip {
  font-size: 14px !important;
  position: relative;
}


.tip-highlight pre{
  padding-top: 5px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 5px !important;
  margin: 0rem 0rem !important;
  border-style: none;
}

.tip-code {
  overflow: auto;
}

.tip-code td pre {
  display: flex !important;
}

.tip-code pre code {
  white-space: pre !important;
}

.tip-code tbody tr td pre {
  padding-top: 5px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 5px !important;
  border-style: none;
  margin: 5px !important;
}

.tips {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  align-items: stretch;
  align-content: flex-end;
  margin-bottom: 20px;
}

.round-box {
  border-radius: 25px;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}

.small-box {
  min-width: 350px;
  max-width: 350px;
}

.medium-box {
  min-width: 350px;
  max-width: 450px;
}

.large-box {
  min-width: 350px;
  max-width: 600px;
}

.home-view .small-box, .home-view .medium-box , .home-view .large-box {
  min-width: 350px;
  max-width: 350px;
}

.tip img.tip-c-fill{
  width:100px;
  height:100px;
  max-width: fit-content;
  margin: 0 !important;
  position: absolute;
  bottom: 25px; right: 25px;
}

.tip-code-status {
  text-align: center !important;
  font-size: x-small !important;
}

.tip-data{
  border: 1px solid #585A5E;
  border-collapse: collapse;
  font-size: small;
  white-space: nowrap;
  max-width: 600px
}

.tip-data th, .tip-data td{
  border: 1px solid #585A5E;
  border-collapse: collapse;
}

.rowList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column2List {
  flex: 50%;
}
.column3List {
  flex: 33%;
}
.column4List {
  flex: 25%;
}

@media screen and (max-width: 600px) {
  .column2List {
    flex: 100%;
  }
  .column3List {
    flex: 100%;
  }
  .column4List {
    flex: 100%;
  }
}

.rowList pre {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  border: 0px !important;
  padding: 0px;
}

.rowList code {
  background: #FFF7DD !important;
  border-color: #ffeeb8;
  font-size: 12px !important;
}