{{ $showTips := default true .Page.Params.showTips}}
{{ if and $showTips (or (eq .Page.Params.kind "page") (eq .Page.Params.kind "collection")) }}
  {{ $filter := default "intersect" (.Page.Params.tipFilter)}}
  {{ $Pages := slice }}
  {{ if eq $filter "intersect"}}
    {{ $Pages = where $.Site.Pages "Page.Params.tags" "intersect" .Page.Params.tips}}
  {{else if eq $filter "union" }}
    {{ range $key, $tag := .Page.Params.tips }}
      {{ $Pages = $Pages | append (where $.Site.Pages "Page.Params.tags" "intersect" (slice $tag)) }}
    {{ end }}
  {{end}}
  {{$Pages = uniq $Pages}}
  {{ if gt (len $Pages) 0}}
    <div class="tips page-view">
      <div class="tip round-box small-box">
        <h5>What's on this Page</h5>
        <p></p>
        <div class="children children-div">
        {{ range $key, $page := $Pages.ByWeight }}
          {{ if ne $.Page.Permalink $page.Permalink }}
            {{  if eq  $page.Params.Kind "tip" }}
            <div><a href="#{{.LinkTitle}}">💡&nbsp;{{$page.Title}}</a></div>
            {{ else }}
            <div><a href="#{{.LinkTitle}}">📃&nbsp;{{$page.Title}}</a></div>
            {{end}}
          {{end}}
        {{end}}
        </div>
      </div>
      {{ range $key, $page := $Pages.ByWeight}}
        {{ if ne $.Page.Permalink $page.Permalink }}
            {{ .Render "li" }}
        {{ end }}
      {{ end }}
    </div>
  {{end}}
{{end}}