<div class="tip round-box small-box">
    <div class="tip-c">
    <h5>
        {{if eq $.Params.kind "tip"}}
        <span class="fa fa-lightbulb-o"></span>
        {{else if eq $.Params.kind "collection"}}
        <span class="fa fa-book"></span>
        {{else}}
        <span class="fa fa-file-text-o"></span>
        {{end}}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h5>
    <p>{{ .Summary }}</p>
    <p style="text-align: right;">
        <a href="{{ .RelPermalink }}">Read More... <span class="fa fa-external-link" aria-hidden="true"></span></a>
    </p> 
    {{ .Render "gencode" }}
    <div class="" >
        {{if .Params.tags }}  
            {{ range $index, $tag := .Params.tags }}
                <a class="label label-default" href="{{$.Site.BaseURL}}tags/{{ $tag | urlize }}/">{{ $tag }}</a>
            {{ end }}
        {{end}}
    </div>
</div>
</div>
