<div class="tip round-box small-box">
    <h4>
        {{if eq $.Params.kind "tip"}}
        <span class="fa fa-lightbulb-o"></span>
        {{else if eq $.Params.kind "collection"}}
        <span class="fa fa-book"></span>
        {{else}}
        <span class="fa fa-file-text-o"></span>
        {{end}}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h4>
    <div class="" >
        {{if .Params.tags }}  
            {{ range $index, $tag := .Params.tags }}
                <a class="label label-default" href="{{$.Site.BaseURL}}tags/{{ $tag | urlize }}/">{{ $tag }}</a>
            {{ end }}
        {{end}}
    </div>
    <p>{{ .Summary }}</p>
</div>
