/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";

body {
	font-family: Arial, sans-serif;
}

.markdown p {
	text-align: justify;
}

// Source Code Highlighting
.highlight {
	overflow: auto;
}

.highlight pre {
	padding: 10px;
}

.tip_code_status {
	text-align: center;
	font-family: Garamond, serif;
	font-size: .85em;
}

.tip__code_title {
	text-align: center;
	font-family: Garamond, serif;
}

/* Mascot  */
.mascot {
	text-align: center;
}

.mascot p {
	text-align: center;
}

.mascot img{
	width: 150px;
}

// Tags
.tips_tags a{
    margin : 5px
}

// Search
.markdown .pagefind-ui__filter-panel details {
 border: 0;
}