/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";

body {
	font-family: Arial, sans-serif;
}

.markdown p {
	text-align: justify;
}

// Source Code Highlighting
.highlight {
	overflow: auto;
}

.highlight pre {
	padding: 10px;
}

.tip_code_inner {
    font-size: .9rem;
}

.tip_code_out {
	font-family: Garamond, serif;
	border: 0px !important;
	font-size: .9rem;
}

.tip_code_title {
	text-align: center;
	font-family: Garamond, serif;
	font-size: .9rem;
}

/* Mascot  */
.mascot {
	text-align: center;
}

.mascot p {
	text-align: center;
}

.mascot-x-small img {
	width: 10%;
}

.mascot-small img {
	width: 25%;
}

.mascot-large img {
	width: 33%;
}

.mascot-x-large img {
	width: 60%;
}

// Tags
.tips_tags a {
	margin: 2px;
	font-size: 0.7rem !important;
}

// Search
.markdown .pagefind-ui__filter-panel details {
	border: 0;
}

// Footer
.footer__copyright {
	margin-top: 20px;
	text-align: center;
}

// Post
.center {
    text-align: center;
}
.post_table {
    display: flex;
    justify-content: center;
}

.post_table table {
    margin : 0 auto
}

.post_table table td{
    text-align: justify;
}

.post_table_compact td {
    padding: .3rem !important;
}

.post_table_compact {
    font-size: small !important;
}

/* Summary */

.summary {
	padding: .5rem 0;
	text-align: justify;
}

/* keypoint */
.keypoint {
    text-align: center;
}

.keypoint img{
    width: 75%;
}

/* Syntax */

.syntax ul {
	padding-left: 1rem;
}

.syntax ul li {
	padding-left: .5rem;
	list-style-type: '✍';
}

.syntax {
	padding: .5rem 0;
}

/* TLDR */

.tldr ul li {
	padding-left: .5rem;
	list-style-type: '✓';
}

.tldr ul li ul li {
	padding-left: .5rem;
	list-style-type: '●';
}

.tldr ul {
	padding-left: 1rem;
}