<h4><i class='fa fa-cloud'></i> Tag Cloud</h4>
<div class="tagscloud">
  {{ .Render "tagscloud"}}
</div>
<h4><i class='fa fa-external-link'></i> Links</h4>
<ul class="">
  <li class=""><a href="{{ ref . "/examples" }}"><i class='fa fa-list-ul'></i> All Examples</a></li>
  <li class=""><a href="https://ballerina.io" target="_blank"><i class='fa fa-globe'></i> Ballerina.io</a></li>
</ul>
<h4><i class='fa fa-info'></i> About</h4>
<ul class="">
  <li class=""><a href="https://github.com/hasithaa/bal.tips" target="_blank"><i class='fa fa-github'></i> Github repo</a></li>
  <li class=""><a href="{{ ref . "/thank-you" }}"><i class='fa fa-thumbs-o-up'></i> Thank you</a></li>
  <li class=""><a href="https://lk.linkedin.com/in/hasithaaravinda" target="_blank"><i class='fa fa-user-o'></i> About Author</a></li>
</ul>
