{{- $isPosts := eq .RelPermalink "/posts/" }}

<h2>Posts</h2>
{{- $pages:= where site.RegularPages.ByWeight "Section" "==" "post" }}

{{- $published:= where $pages "Draft" "==" false}}
<h3> 📢 Published Posts ({{len $published}}).</h3>
<p>Post Published.</p>
<ul>
  {{ range $published }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a> - ({{ .Weight }})
  </li>
  {{ end }}
</ul>

{{- $draft:= where $pages "Draft" "==" true}}
<h3> 🏗 Draft Posts ({{len $draft}}).</h3>
<p>Here are the posts I am in the process of writing.</p>
<ul>
  {{ range $draft }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a> ({{ .Weight }})
  </li>
  </li>
  {{ end }}
</ul>

{{- $pages = where site.RegularPages.ByWeight "Section" "!=" "post" }}
<h2> Pages ({{len $pages}})</h2>
<ul>
  {{ range $pages }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a> - ({{ .Weight }}) {{- if .Draft}}- (Draft) {{- end }}
  </li>
  {{ end }}
</ul>

<h2>Test Cases</h2>
{{- $tests := $.Site.Data.tests  -}}
<ul>
  <li>Ballerina Version :&nbsp; {{- $tests.balVersion }} </li>
  <li>OS :&nbsp;{{- $tests.os }} </li>
  <li>Started :&nbsp; {{- $tests.startAt }}</li>
  <li>End :&nbsp; {{- $tests.endAt }}</li>
  <li><a href="../tests">Test Report</a>
    <ul>
      <li>Pass :&nbsp; {{- $tests.pass }} </li>
      <li>Fail :&nbsp; {{- $tests.fail }} </li>
      <li>Skip :&nbsp; {{- $tests.skip }} </li>
    </ul>
  </li>
</ul>
<table>
  <tr>
    <th>Name</th>
    <th>Path</th>
    <th>Kind</th>
    <th>Compilation</th>
    <th>Status</th>
  </tr>
  {{- range $tests := $tests.tests -}}
  <tr>
    <td>{{- $tests.name -}}</td>
    <td><a href="{{- print " ../" $tests.path }}">{{- $tests.path }}</a></td>
    <td>{{- $tests.kind -}}</td>
    <td>
      {{- if eq $tests.compilation "SUCCESS"  -}} ✅ {{- else if eq $tests.compilation "ERROR"  -}} ❌ {{- else -}} ❗
      {{- end -}}
    </td>
    <td>
      {{- if eq $tests.status "PASS"  -}} ✅ {{- else if eq $tests.status "FAIL"  -}} ❌ {{- else -}} ❗ {{- end -}}
    </td>
  </tr>
  {{- end -}}
</table>
