{{ define "main" }}
<span id="sidebar-toggle-span">
<a href="#" id="sidebar-toggle" data-sidebar-toggle=""><i class="fa fa-bars"></i> navigation</a>
</span>
<h1>{{.Site.Home.Title}}</h1>

{{.Site.Home.Content}}

<h4 id="collections">Collections <i class="fa fa-book"></i></h4>
{{ $AllPages := .Site.Pages.ByDate.Reverse}}
{{ $Pages := first 8 (sort (where $AllPages "Params.Kind" "==" "collection") "Weight" ) }}
<div class="tips home-view">
  {{ range $Pages}}
    {{ .Render "li" }}
  {{ end }}
</div>

<h4 id="latest-posts">Latest Posts <i class="fa fa-file-text-o"></i></h4>
{{ $Pages := first 8 (where $AllPages "Params.Kind" "==" "page") }}
<div class="tips home-view">
  {{ range $Pages}}
    {{ .Render "li" }}
  {{ end }}
</div>

{{ $Tips := first 12 (where  $AllPages "Params.Kind" "==" "tip") }}
<h4 id="latest-tips">Latest Tips <i class="fa fa-lightbulb-o"></i></h4>
<div class="tips home-view">
  {{ range $Tips}}
    {{ .Render "tip" }}
  {{end}}
</div>

<h4><i class='fa fa-cloud'></i> All Tags</h4>
<div class="tagscloud">
  {{ .Render "tagscloud"}}
</div>

{{ end }}