{{- $index := default 0 (.Get "id" | int) -}}
{{- $output := default false (.Get "output" ) -}}
{{- $sourceNames := default slice $.Page.Params.highlight  -}}
{{- $highlightStyle := default "monokai" $.Site.Params.highlightStyle  -}}
{{- if ne (len $sourceNames) 0  -}}
  {{- $baseURL := replace .Page.File.Dir "\\" "/"   -}}
  {{- $highlightedSources := slice  -}}
  {{- $source := index $sourceNames $index -}}
  {{- if strings.HasSuffix $source ".bal" -}}
    {{- $sourceFilePath := printf "%s%s" $baseURL $source  -}}
    {{- $fileContent := readFile $sourceFilePath  -}}
    {{- $fileContent = split $fileContent "\n"  -}}
    {{- $highlight := slice  -}}
    {{- $codeOut := ""  -}}
    {{- $codeIgnored := false  -}}
    {{- range $fileContent  -}}
      {{- if strings.Contains . "//$"  -}}
        {{- $line := split . "//$"  -}}
        {{- $highlight = $highlight | append (strings.TrimPrefix "  " (strings.TrimRight " " (index $line 0)))  -}}
      {{- else if strings.Contains . "//!" -}}
        {{- if not $codeIgnored  -}}
          {{- $highlight = $highlight | append "// Some lines (i.e io:println()) are trimmed." | append "// Open $SOURCE$ to view them." -}}
          {{- $codeIgnored = true  -}}
        {{- end -}}
      {{- else -}}
        {{- $highlight = $highlight | append (strings.TrimPrefix "  " .) -}}
      {{- end -}}
    {{- end -}}
    {{- $highlight = delimit $highlight "\n"  -}}
    {{- $codeContent :=  highlight $highlight "ballerina"  (print "style=" $highlightStyle ",tabWidth=2,lineNos=inline,anchorLineNos=true,lineAnchors=" $source ",lineNumbersInTable=false" ) -}}
    {{- $codeURL := (printf "%s" $sourceFilePath ) | relLangURL  -}}
    {{- $codeContent = safeHTML (replace $codeContent "$SOURCE$" (print "<a href='" $codeURL "' target='_blank'>" $source "</a>")) -}}
    {{- if strings.HasSuffix $source "service.bal"   -}}
      {{- $codeOut = highlight " ... " ""  -}}
    {{- else if strings.HasSuffix $source "-error.bal"  -}}
      {{- $codeOut = highlight "Compilation Error !" " " -}}
    {{- else  -}}
      {{- $codeOut = highlight (readFile (print $sourceFilePath ".out")) "BashSession" (print "style=" $highlightStyle ",tabWidth=2") -}} 
    {{- end -}}
    <hr>
    <div class="tip_code">
      <div class="tip_code_view">
        <div class="tip_code_view_source">
          {{- $codeContent -}}
        </div>
        {{- with .Inner -}}
        <div class="markdown-inner tip_code_inner">{{ . | $.Page.RenderString }}</div>
        <br>
        {{- end -}}
        <details {{if $output}}open{{end}} class="tip_code_out">
          <summary>Display <strong>{{ $source }}</strong> Output</summary>
          <div>$&nbsp;<code>bal run&nbsp;{{- $source -}}</code></div>
          <div>{{- $codeOut -}}</div>
          {{- $tests := $.Site.Data.ballerina  -}}
          {{- $testResult := getJSON (printf "%s/%s%s.json" $.Site.Params.contentDir $baseURL $source ) }}
          {{- with $testResult -}}
          <div class="center">
          <span>Version :&nbsp;{{- $tests.balVersion -}}&nbsp;
            {{- if $testResult.compile -}}✓&nbsp;{{- else -}}✗&nbsp;{{- end -}} Compile
            ,&nbsp;{{- if $testResult.test -}}✓&nbsp;{{- else -}}✗&nbsp;{{- end -}}Test
             </span>
          </div>
          {{- end -}}
        </details>
      </div>
      <div class="tip_code_title">
        {{- with (.Get "title") -}}{{- . | markdownify -}}&nbsp;|&nbsp;{{- end -}}
        <a href="{{- $codeURL  -}}" title="View Source -&nbsp;{{ $source -}}">{{ $source }}</a>
      </div>
    </div>
    <hr>
  {{- end -}}
{{- end  -}}