{{- $kind := .Get "kind" | default "post" }}
{{- if eq $kind "post" }}
    {{ $bookSection := default "." .Site.Params.BookSection  }}
    {{- $pages := .Site.GetPage $bookSection }}
    {{ range $pages.Pages}}
        {{ partial "list-pages-status" . }}
    {{ end }}
{{- else if eq $kind "test" }}
<ul>
    <li>Ballerina Version :&nbsp; {{- $.Site.Data.ballerina.balVersion }} </li>
</ul>
<table class="post_table post_table_compact">
    <tr>
        <th>Name</th>
        <th>Path</th>
        <th>Compile</th>
        <th>Test</th>
    </tr>
    {{- partial "list-test-result.html" $.Site.Params.contentDir }}
</table>
{{- end }}