{{ $pagePath := printf "tags/%s/" (.Get 0 | urlize)}}
{{ if (.Site.GetPage $pagePath) }}
{{ $page := .Site.GetPage $pagePath }}
    {{with index .Site.Data.tags (.Get 0)}}
    <a class="label label-default" href="{{$page.Permalink}}" 
        title="{{ .summary | markdownify }}">
        {{ .display | safeHTML}}</a>
    {{end}}
{{else if (ne (.Get 0) "")}}
    {{with index .Site.Data.tags (.Get 0)}}
    <span title="{{.summary | markdownify }}" class="label label-default">
        {{.display | safeHTML}}</span>
    {{end}}
{{end}}